.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;;
  height: 55px; /* Set header height */
  background-color: red;
  color: white;
}

.main {
  background-color: #282c34;
  min-height: calc(100vh - 55px); /* Subtract header height */
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  padding-top: 20px; /* Add some top padding */
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.greeting-page {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.greeting-page h2 {
  color: #333;
  margin-bottom: 10px;
}

.greeting-page p {
  color: #666;
  margin-bottom: 20px;
}

.greeting-page button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button {
  background-color: red;
  cursor: pointer;
}

.register-button {
  background-color: red;
  cursor: pointer;
}

.login-button {
  background-color: red;
  cursor: pointer;
}

.greeting-page button:hover {
  background-color: #d32f2f;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.register-button:hover {
  background-color: #d32f2f;
}

.login-button:hover {
  background-color: #d32f2f;
}

.toggle-button {
  background-color: red;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #d32f2f;
}